@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Your global styles go here */
body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: #303030; /* Dark background */
  color: white; /* Light text for dark mode */
}
