/* styles.scss */

body, .navbar {
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background color and text color */
  }
  
  .dark-mode {
    background-color: #333; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
  }
  